/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

/* Header styles */
.header {
    position: relative;
    height: 100vh;
    background: #000; /* Set a default background color initially */
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Hide overflowing content */
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure the overlay is above the background but below the text */
}

.header-content {
    position: relative;
    z-index: 2; /* Ensure the text is above the overlay */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0.1; /* Initial low opacity for the text */
    transition: opacity 2s ease-in-out; /* Smooth transition for the text */
}

.header-content.visible {
    opacity: 1; /* Fully visible text */
}

.header-image {
    display: none; /* Hide the image initially */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('images/header.png') no-repeat center center/cover;
    background-size: cover;
    background-position: center top; /* Ajustează valoarea pentru a tăia mai mult din partea de sus */
    z-index: 1; /* Ensure the image is behind the text */
    opacity: 0; /* Initial opacity set to 0 */
    transition: opacity 2s ease-in-out; /* Smooth transition for the image */
}

.header-image.visible {
    display: block;
    opacity: 1; /* Fully visible image */
}


.text-overlay {
    position: absolute;
    top: 65%; /* Cobor sau urc textul central */
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.text-overlay h1 {
    font-size: 5em; /* Adjust size as needed */
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400; /* Face textul normal */
}

.text-overlay p {
    font-size: 5em; /* Adjust size as needed */
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 700; /* Face textul îngroșat */
}

/* Side menu styles */
.nav-menu {
    position: fixed; /* Make the menu fixed */
    top: 0;
    left: 0;
    width: 100%; /* Make the nav menu span the entire width */
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px; /* Adjust padding as needed */
    transition: background-color 0.3s ease; /* Transition for background color change */
    box-sizing: border-box;
}

.nav-menu.scrolled {
    background-color: rgba(0, 0, 0, 0.8); /* Black background with transparency */
    top: 0; /* Ensure it stays at the top when scrolled */
    height: 100px; /* Adjust this value for the height of the bar */
}

.nav-menu .logo {
    position: fixed;
    top: 5px;
    left: 150px;
    z-index: 3;
}

.nav-menu .logo a {
    display: block; /* Ensures the link is a block element */
    width: 100%; /* Takes up the full width of the parent */
    height: 100%; /* Takes up the full height of the parent */
}

.nav-menu .logo img {
    max-width: 80px; /* Ajustează dimensiunea imaginii */
    height: auto;
    pointer-events: none; /* Ensures the image doesn't interfere with the link click */
    transition: filter 0.3s ease; /* Smooth transition for the filter effect */
}

.nav-menu .logo a:hover img {
    filter: brightness(0) saturate(100%) invert(43%) sepia(89%) saturate(1385%) hue-rotate(88deg) brightness(94%) contrast(97%);
}

.nav-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    position: absolute;
    top: 30px;
    right: 150px; /* Align to the right */
}

.nav-menu ul li {
    margin: 0;
}

.nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 700;
}

.nav-menu ul li a:hover {
    color: #4CAF50;
}



/* Combined section styles */
.combined-sections {
    background: linear-gradient(to bottom, #040202, #312f2f);
    color: #fff; /* Make text white */
}

/* Section styles */
section {
    padding: 4em 2em;
    background: transparent; /* Ensure background is transparent so the gradient is visible */
    text-align: center;
}

#about h2, #projects h2, #contact h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

#about p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.6;
}

#about .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    max-width: 80%; /* Ajustează după preferințe */
}

#about .about-content img {
    max-width: 190px; /* Ajustează dimensiunea imaginii după preferințe */
    border-radius: 50%; /* Dacă vrei ca poza să fie rotundă */
    margin-right: 40px; /* Spațiere între imagine și text */
    margin-top: 50px;
}

#about .about-text {
    max-width: auto; /* Ajustează dimensiunea textului */
    text-align: left; /* Aliniere text la stânga */
    color: #fff; /* Culoare text albă pentru contrast */
}



/* PROIECTE */

#projects h2 {
    max-width: auto; /* Ajustează dimensiunea textului */
    text-align: left; /* Aliniază textul la stânga */
    padding-left: 670px; /* Ajustează padding-ul pentru a muta mai la stânga */
    margin-bottom: 0; /* Elimină spațiul de sub titlu */
}

.project-container:first-of-type {
    margin-top: 0; /* Elimină spațiul de deasupra primului proiect */
}

.project-container {
    display: flex;
    align-items: center;
    margin: 10em ;
    max-width: 1000px; /* Ajustează lățimea maximă după preferințe */
    margin-bottom: 2em; /* Adaugă mai mult spațiu între proiecte */
}

.project-container:nth-child(odd) {
    margin-left: 400px; /* Ajustează margin-ul pentru a împinge spre dreapta */
}

.project-container:nth-child(even) {
    margin-left: 250px; /* Ajustează margin-ul pentru a împinge și mai mult spre dreapta */
}


.project-logo img {
    max-width: 300px; /* Ajustați dimensiunea logo-ului după preferințe */
    margin-right: 20px; /* Spațiere între logo și detalii */
}

.project-details {
    max-width: 700px; /* Ajustați lățimea detaliilor proiectului după preferințe */
}

.project-details h3 {
    font-size: 1.8em;
    margin-bottom: 10px; /* Spațiere între titlu și descriere */
}

.project-details p {
    font-size: 1.2em;
    margin-bottom: 15px; /* Spațiere între descriere și tehnologiile folosite */
}

.technologies-used img {
    height: 40px; /* Ajustează înălțimea logo-urilor */
    width: auto; /* Lățimea se ajustează automat */    
    margin-right: 10px; /* Spațiere între logo-uri */
    transition: transform 0.2s ease-in-out;
}

.technologies-used img:hover {
    transform: scale(1.1); /* Slight zoom effect */
    cursor: pointer;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 1200px) {
    #projects h2 {
        padding-left: 500px; /* Ajustează padding-ul pentru ecrane mai mici */
    }
    .project-container:nth-child(odd),
    .project-container:nth-child(even) {
        margin-left: 200px; /* Ajustează margin-ul pentru ecrane mai mici */
    }
}

@media (max-width: 992px) {
    #projects h2 {
        padding-left: 300px; /* Ajustează padding-ul pentru ecrane mai mici */
    }
    .project-container:nth-child(odd),
    .project-container:nth-child(even) {
        margin-left: 100px; /* Ajustează margin-ul pentru ecrane mai mici */
    }
}

@media (max-width: 768px) {
    #projects h2 {
        padding-left: 0; /* Centrăm titlul pe ecrane mici */
        text-align: center; /* Centrăm textul */
    }
    .project-container {
        flex-direction: column;
        align-items: center;
        margin: 2em auto;
    }
    .project-container:nth-child(odd),
    .project-container:nth-child(even) {
        margin-left: 0 !important; /* Eliminăm margin-ul pentru ecrane mici */
    }
    .project-logo {
        display: none !important; /* Ascunde logo-urile pe ecrane mici */
    }
    .project-details {
        text-align: center !important;
        max-width: 100% !important; /* Ajustăm lățimea detaliilor proiectului pentru ecrane mici */
    }
}

/* Contact section styles */
#contact {
    padding: 4em 2em;
    text-align: center;
}

#contact h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
}

#contact p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ccc;
}

/* Contact formular */
.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 1em;
}

.social-icon img {
    width: 40px; /* Ajustează dimensiunea iconițelor după preferință */
    transition: filter 0.3s;
}

.social-icon img:hover {
    filter: invert(41%) sepia(79%) saturate(1153%) hue-rotate(100deg) brightness(93%) contrast(90%);
}

.social-icon img:hover {
    filter: none;
    color: #4CAF50;
}

.social-icon:hover img {
    filter: invert(41%) sepia(79%) saturate(1153%) hue-rotate(100deg) brightness(93%) contrast(90%);
}


/* Disable right-click on images */
.no-right-click {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
    pointer-events: none; /* Disables click and pointer events */
}

/* Footer styles */
footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}


/* Stil personalizat pentru a mări distanța între secțiuni */
#about {
    margin-bottom: 200px; /* Ajustează valoarea după preferințe */
}

#projects {
    margin-bottom: 0px; /* Ajustează valoarea după preferințe */
}

/* Inițial ascunde imaginea și face textul aproape invizibil */
.header-content {
    opacity: 0.1;
    transition: opacity 1s ease-in-out;
}

.header-image {
    display: none;
}

/* Stil pentru a face textul și imaginea vizibile */
.visible .header-content {
    opacity: 1;
}

.visible .header-image {
    display: block;
}


@keyframes flicker {
    0% { opacity: 0.9; }
    50% { opacity: 0.4; }
    100% { opacity: 0.9; }
}

.flicker {
    animation: flicker 0.15s infinite;
}

